@charset "utf-8";

.profileHead
{
  position: relative;
  width: 100%;
  height: 250px;
  background: #fcc;
  background: rgba(255, 200, 200, 0.4);
}

.profileHead .userFace
{
  position: relative;
  left: 0;
  width: 200px;
  height: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}

.profileHead .userFace .userIcon
{
  height: 200px;
}

.profileHead .userFace .userName
{
  height: 50px;
}

.profileBody
{
  position: relative;
  clear: both;
  width: 100%;
}

.profileBody .profileContents
{
  float: left;
  width: 30%;
}

.profileBody .profileActivities
{
  float: right;
  width: 70%;
}

.profileBody .profileActivities .activity
{
  width: 100%;
  margin: 1em;
}
